<nav class="navbar navbar-expand-lg navbar-light bg-white my-3 p-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-column" id="sidebarNav">
    <h4>Components</h4>
    <ul class="list-group list-group-flush w-100 f-size-smaller-1">
      <%= active_link_to 'Active Record Associations', components_active_record_associations_path, class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
      <%= active_link_to 'Active Record Migrations', components_active_record_migrations_path, class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
      <%= active_link_to 'Forms', components_forms_path, class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
      <%= active_link_to 'Images', components_images_path, class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
      <%= active_link_to 'Links', components_links_path, class: 'list-group-item list-group-item-action w-100 p-2 border-0' %>
    </ul>
  </div>
</nav>
